body {
	font-family:"Avenir Next";
	background-color:#ffc0cb;
	color:white;
	background position:center;
	margin:0px;
	ine-height:1.4em;
}

.wrapper {
	width:1000px;
	margin:0px auto;
}

.header {
	width:auto;
	background-color:#ffc0cb;
	padding:20px;
	color:white;
}

h1 {
  color:maroon;
  font-size:30px;
  width:150px;
  height:100px;
  margin:0px;
}

nav {
	clear:both;
	color:maroon;
	background-color:lavender;
	height:20px;
	padding:20px;
	width:auto;
}

nav ul {
	list-style type:none;
	color:maroon;
	margin:0px;
	padding:5px;
}

nav li {
	float:left;
	display:inline;
	color:maroon;
	margin-bottom:40px;
}

.contents{
	float:left;
	width:98%;
	padding:2%;
}

h2 {
  color:maroon;
  font-size:25px;
  padding:30px 20px;
  margin:0px ;
  text-align:center;
}

h3 {
  color:maroon;
  font-size:20px;
  padding:30px 20px;
  margin:0px ;
}

p {
  color:maroon;
  font-family:"Avenir Next";
  font-size:20px;
  float:left;
}
	
ul {
  float:left;
  width:26%;
  padding:2%;
}

ul li {
	display:block;
	padding:10px;
}

aside {
	width:26%;
	float:right;
	padding:2%;
}

aside section li {
	display:block;
	padding:10px;
	border-bottom: 1px solid #eeeeee;
}

li {
	color:white;
	text-decoration:none;
}

aside h2 {
	padding:30px 0px 10px 0px;
	color:white;
}

h4 {
  color:maroon;
  font-size:25px;
  padding:0px;
  margin:10px 0px 5px 0px;
}

.footer {
  font-size:80%;
  padding:5px 10px;
  clear:both;
  width:auto;
  color:maroon;
  font-size:20px;
  text-align:center;
}

h5 {
  color:maroon;
  font-size:25px;
}
